/*
Référence utilisée pour apprendre les flexbox en général:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

Référence pour la structure globale de la page (sans la partie "aside 2"):
https://codepen.io/chriscoyier/pen/vWEMWw

Référence pour le menu responsive:
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
*/

/* ---- Structure globale des pages (flex) ---- */

#wrapper
{
  display: flex;
  flex-flow: row wrap;

}

#wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/*dans l'exemple mais pas sûre que ça serve dans le cas présent
@media all and (min-width: 600px) {
  #title { flex: 1 0 0; }
}*/

@media all and (min-width: 800px) {
  #main   { flex: 3 0px; }
  /*#title  { order: 1; }*/
  #main   { order: 2; }
  #explanation  { order: 3; }
  #footer { order: 4; }
}

/* ---- fin Structure globale des pages */


/* ---- En-tête (sous-partie du flex général du Wrapper, lui-même flex) ---- */
header
{
display: flex;
justify-content: space-between;
align-items: flex-start;
max-height: 80px;
}

/* logo */
#logo
{
  height: 80px;
  float:left;
  margin-right: 15px;

}

/* titre */
#title
{
  height:80px;
  text-align: left;
  font-size: 0.7em;
}

#title h1
{
  color: CornflowerBlue;
  font-family: Garamond, serif;
  font-weight: normal;
  margin: 0px;
}

#title h2
{
  color: DimGrey;
  font-family: "Courier New", monospace ;
  font-weight: normal;
  margin:0
}
/* Menu de navigation */
.navitation {
  text-align: center;
}
.navigation a {
  text-decoration: none;
  padding: 1em;
  color: CornflowerBlue;
  font-family: Garamond, serif;
  font-size: 1.2em;
  font-variant: small-caps;
}

.navigation a:hover {
  background: CornflowerBlue;
  color: white;
}

.navigation .icon {
  display: none;
}

/* comportement menu navigation pour tablettes; à ajuster si besoin */

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

/* comportement menu navigation pour smartphones (menu hamburger) */

@media screen and (max-width: 600px) {
  .navigation a {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ---- fin partie En-tête ---- */

/* ---- partie principale page ----*/
#main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#main h2 {
  color: DimGrey;
  font-family: "Courier New", monospace ;
  font-weight: normal;
  font-size: 1em;
}

#main p {
  color: red;
}

.gauche {
max-width: 25%;
padding-top: 40px;
}
.graphique {
  flex-grow: 2;
}

#footer {
  color: CornflowerBlue;
  font-family: Garamond, serif;
  text-align: right;
}
