<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scrutin/style.css' %}" />
    <title>Le Super Site des Votations</title>
    <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <img id="logo" src="{% static 'scrutin/logo.png' %}" alt="logo"></img>
      <nav class="container">
        <ul class ="navigation">
          <li><a href="/">Home</a></li>
          <li><a href="cartes">Cartes</a></li>
          <li><a href="methode">Méthode</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="title"><h1>Projections de votations </h1><h2>& autres analyses de politique helvétique</h2>
    </div>

    <div class="main">
    {% block content %}
    {% endblock %}
    </div>

    <article class="explanation">
    {% block explanation %}
    {% endblock %}
    </article>

    <footer class="footer">Copyleft Frédéric Michaud & Laurence Chave - 2022
    </footer>
</div>
</body>
</html>
